@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/Scripts/knockout-3.4.2.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/MyChat.js"></script>
    <script src="~/Scripts/MyScript.js"></script>
    <script src="~/signalr/hubs"></script>
}

<div class="row main-container">
    <div class="col-md-2 left">
        <div class="header">
            <h5>Chat Rooms</h5>
            <a href="#" id="create-room" data-toggle="modal" data-target="#create-room-modal"><span class="glyphicon glyphicon-plus"></span></a>
        </div>
        <div class="rooms">
            <div>
                <ul id="room-list" data-bind="foreach: chatRooms">
                    <li>
                        <a href="#" data-bind="text: $data.name, click: $parent.joinRoom.bind($parent, $data)"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="user">
            <div class="user-avatar">
                <img class="avatar-icon2" src="~/Content/icons/avatar1.png" data-bind="attr: { src: myAvatar() }" />
            </div>
            <div class="user-name">
                <a href="#" data-bind="text: myName"></a>
            </div>
            <div class="user-signout">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()" title="Sign Out"><span class="glyphicon glyphicon-log-out"></span></a>
                }
            </div>
        </div>
    </div>
    <div class="col-md-7 middle">
        <div class="chat-header">
            <h5 id="joinedRoom">Home</h5>
            <div id="edit-room">
            </div>
        </div>
        <div id="pinnedMess">
            <!-- ko if: pinnedMessages -->
            <!-- ko if: pinnedMessages.id -->
            <div class="pinnedMess">
                <p style="color: blue; font-weight: bold; margin-bottom: 0px;">Tin nhắn ghim</p>
                <!-- ko if: pinnedMessages.content() != null && pinnedMessages.content().indexOf('post-image') !== -1 -->
                <span data-bind="click: pointMessage(pinnedMessages.id)">Hình ảnh</span>
                <!-- /ko -->
                <!-- ko if: pinnedMessages.content() != null && pinnedMessages.content().indexOf('post-image') === -1 -->
                <span id="pinnedMess" style="color: #000000;" data-bind="html: pinnedMessages.content, click: pointMessage(pinnedMessages.id)"></span>
                <!-- /ko -->
                <button data-bind="click: removeStickMessage" class="btnRemoveStick glyphicon glyphicon-remove"></button>
            </div>
            <!-- /ko -->
            <!-- /ko -->
        </div>
        <div class="chat-body better-scrollbar">
            <ul data-bind="foreach: chatMessages">
                <li>
                    <div class="chat-message" data-bind="css: $data.isMine() === true ? 'ismine' : 'isother'">
                        <div class="left-side">
                            <img src="~/Content/icons/avatar1.png" class="message-avatar" data-bind="attr: { src: $data.avatar }" />
                        </div>
                        <div class="message-content" data-bind="attr: { id: 'message-' + $data.id() }">
                            <span class="author" data-bind="text:$data.from"></span>
                            <span class="timestamp">
                                <i class="glyphicon glyphicon-time"></i>
                                <span ></span>
                            </span>
                            <span class="content" data-bind="html:$data.content"></span>

                        </div>
                        <div class="stick-message">
                            <a href="#" data-bind="click: $parent.stickMess.bind($parent, $data)"><span class="glyphicon glyphicon-pushpin stick"></span></a>
                        </div>
                        
                    </div>
                </li>
            </ul>
        </div>
        <div class="chat-input">
            <i class="glyphicon glyphicon-send"></i>
            <div class="actions">
                <label for="btnUpload" class="custom-file-upload">
                    <img src="~/Content/icons/photo1.png" alt="" />
                </label>
                <input type="hidden" id="userReceiverId" value="" />
                <input type="file" id="btnUpload" accept="image/*" name="files" />
                <a id="emojibtn" href="#"><img src="~/Content/icons/smile1.png" /></a>
            </div>
            <div class="emoticon-container hidden" id="emojis-container">
                <a href="#">
                    <input type="hidden" value=":)" />
                    <img src="~/Content/emojis/emoji1.png" />
                </a>
                <a href="#">
                    <input type="hidden" value=":P" />
                    <img src="~/Content/emojis/emoji2.png" />
                </a>
                <a href="#">
                    <input type="hidden" value=":O" />
                    <img src="~/Content/emojis/emoji3.png" />
                </a>
                <a href="#">
                    <input type="hidden" value=":-)" />
                    <img src="~/Content/emojis/emoji4.png" />
                </a>
                <a href="#">
                    <input type="hidden" value="B|" />
                    <img src="~/Content/emojis/emoji5.png" />
                </a>
                <a href="#">
                    <input type="hidden" value=":D" />
                    <img src="~/Content/emojis/emoji6.png" />
                </a>
                <a href="#">
                    <input type="hidden" value="<3" />
                    <img src="~/Content/emojis/emoji7.png" />
                </a>
            </div>
            <input id="chat-message" type="text" value="" data-bind="value:message, valueUpdate: 'afterkeydown', event: { keypress: onEnter }" placeholder="Type mesage here...." />
        </div>
    </div>
    <div class="col-md-3 right">
        <div class="header">
            <h5>ALL FRIENDS (<span data-bind="text: filteredChatUsers().length">0</span>)</h5>
        </div>
        <div class="chat-users better-scrollbar">
            <ul id="user-list" data-bind="foreach: filteredChatUsers">
                <li data-bind="click: $parent.joinSingleRoom.bind($parent, $data)">
                    <div class="user-inner">
                        <div class="left-side">
                            <img src="~/Content/icons/avatar1.png" data-bind="attr: { src:$data.avatar }" class="user-avatar" />
                        </div>
                        <div class="right-side">
                            <input type="hidden" class="username" data-bind="value:$data.userName" />
                            <span class="author" data-bind="text: $data.displayName"></span>
                            <!-- ko if: $data.device -->
                            <span class="dot"></span>
                            <!-- /ko -->
                            @*<small data-bind="text: $data.device"></small>*@

                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="search-user">
            <input type="text" class="" placeholder="Search someone..." data-bind="value: filter, valueUpdate: 'afterkeydown'" />
        </div>
    </div>
</div>

<!-- CREATE ROOM MODAL -->
<div class="modal" id="create-room-modal">
    <div class="modal-dialog" style="width: 70%!important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: closeRoom">&times;</button>
                <h4 class="modal-title">Create Room</h4>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" id="roomName" placeholder="Room name">
                <div style=" width: 50%; float: left">
                    <h3>Danh sách thành viên</h3>
                    <div class="list-group" data-bind="foreach: allUsers">
                        <div style="height: 50px;">
                            <p data-bind="text: $data.displayName" style="float:left; width: 60%"></p>
                            <button type="button" class="btn btn-primary" data-bind="click: $parent.addUserToRoom.bind($parent, $data, 'create')">Thêm</button>
                        </div>
                    </div>
                </div>
                <div style=" width: 50%; float: right">
                    <h3>Danh sách thành viên được chọn</h3>
                    <div class="list-group" data-bind="foreach: userSelected">
                        <div style="height: 45px;">
                            <p data-bind="text: $data.displayName" style="float:left; width: 60%"></p>
                            <button type="button" class="btn btn-primary" data-bind="click: $parent.removeUserSelectedRoom.bind($parent, $data, 'create')">Xóa</button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" style="margin-top: 300px!important;">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: closeRoom">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: createRoom">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- EDIT ROOM MODAL -->
<div class="modal" id="edit-room-modal">
    <div class="modal-dialog" style="width: 70%!important">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: closeRoom">&times;</button>
                <h4 class="modal-title">Edit Room</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" class="form-control" id="editedRoomId" placeholder="Room name">
                <input type="text" class="form-control" id="editedRoomName" placeholder="Room name">
                <div style=" width: 50%; float: left">
                    <h3>Danh sách thành viên</h3>
                    <div class="list-group" data-bind="foreach: notChatUserRooms">
                        <div style="height: 50px;">
                            <p data-bind="text: $data.displayName" style="float:left; width: 60%"></p>
                            <button type="button" class="btn btn-primary" data-bind="click: $parent.addUserToRoom.bind($parent, $data, 'edit')">Thêm</button>
                        </div>
                    </div>
                </div>
                <div style=" width: 50%; float: right">
                    <h3>Danh sách thành viên trong nhóm</h3>
                    <div class="list-group" data-bind="foreach: chatUserRooms">
                        <div style="height: 45px;">
                            <p data-bind="text: $data.displayName" style="float:left; width: 60%"></p>
                            <!-- ko if: $data.roomRole-->
                            Quản trị viên

                            <!-- /ko -->
                            <!-- ko ifnot: $data.roomRole -->
                            <button type="button" class="btn btn-primary" data-bind="click: $parent.removeUserSelectedRoom.bind($parent, $data, 'edit')">Xóa</button>
                            <!-- /ko -->

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" style="margin-top: 300px!important;">
                <button type="button" class="btn btn-default" data-dismiss="modal" data-bind="click: closeRoom">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: editRoom">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- REMOVE ROOM MODAL -->
<div class="modal" id="remove-room-modal">
    <div class="modal-dialog" style="width: 900px!important;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Delete Room</h4>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Chat Room?</p>
            </div>
            <div class="modal-footer" \>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: deleteRoom">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-dismissible alert-warning hidden" id="errorAlert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <p data-bind="text:serverInfoMessage"></p>
</div>